[package]
name = "repro"
version = "0.1.0"
edition = "2024"

[dependencies.bevy]
version = "0.18.0-rc.2"
default-features = false
features = [
  "bevy_camera",
  "bevy_core_pipeline",
  "bevy_log",
  "bevy_pbr",
  "bevy_render",
  "bevy_window",
  "bevy_winit",
  "webgpu",
]
